/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 15px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b0b33;
    color: white;
    font-size: 15px;
    border-bottom: 2px solid white; 
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.logo .icon {
    margin-right: 15px;
    display: inline-block; 
    width: 25px;          
    height: 25px;          
    background-image: url('images/calendar.png'); 
    background-size: cover; 
    vertical-align: middle; 
}

a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: none;
}

/* HERO BACKGROUND & SECTION */
.hero {
    height: 100vh; 
    background: url('images/background.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: inherit; 
    text-align: center;
    color: white;
    padding: 0 20px;
    position: relative; 
    margin: 0 auto;
}

/* DARK OVERLAY */
.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(30, 0, 60, 0.4);
    top: 0;
    left: 0;
}

/* HERO CONTENT */
.hero-content {
    position: relative; 
    color: white;
}

.hero h1 {
    margin-top: 200px;
    font-size: 40px; 
    font-weight: 800; 
    line-height: 1.3;
    margin-bottom: 40px;
    text-align: center; 
}

/* SEARCH BOX */
.search-box {
    display: flex;
    background: white;
    padding: 10px; 
    border-radius: 40px; 
    width: 450px; 
    max-width: 90%; 
    margin: 0 auto;
    align-items: center;
}

.search-box input {
    flex: 1;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    outline: none;
    font-size: 16px; 
}

.search-box button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #e69100;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.search-box button:hover {
    background: #c77b00;
}

/* FOOTER INFO SECTION */
.footer-info {
    width: 100%;
    background: #2f3b59;
    padding: 40px 0;
    border-top: 4px solid #8c52ff;  
}

.info-container {
    width: 90%;
    max-width: 1100px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.info-box {
    color: white;
    width: 50%;
    font-size: 15px;
    text-align: left;
    margin-left: 40px
}

.info-box h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
    border: 2px solid #8c52ff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}


.login-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1b0b33;
    font-size: 24px;
}

.login-form-container input,
.register-form-container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 40px; 
    box-sizing: border-box; 
    outline: none;
}

.login-form-container button,
.register-form-container button {
    background-color: #8c52ff;
    color: white;
    padding: 14px 20px;
    margin: 15px 0 0 0;
    border: none;
    border-radius: 40px; 
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.register-form-container button:hover,
.login-form-container button:hover {
    background-color: #7a46e0;
}

.register-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1b0b33;
    font-size: 24px;
}

.forgot-password-container h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #1b0b33;
    font-size: 24px;
}

.forgot-password-container p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
    color: #666;
}

.forgo_button {
    display: block; 
    text-align: center; 
    margin-top: 10px; 
    font-size: 14px; 
    color: #8c52ff;
}

.policy-text {
    position: absolute;
    text-align: left;
    margin-left: 36px;
}

.policy {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
}

.hero-content h2 {
    margin-top: 100px;
    font-size: 36px;
}

.contact {
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact-info {
    position: absolute;
    font-size: 20px;
    text-align: left;
    width: 400px;
    padding: 20px;
}